/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #007bff;
}

.sidebar a.active {
  background-color: #007bff;
  color: white;
}

/* Sidebar logo */
.sidebar .logo {
  padding-left: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar .profile-section {
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.sidebar .profile-section img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sidebar .profile-section .dropdown {
  cursor: pointer;
}

.logout-profile {
  margin-top: auto;
  text-align: left;
}
