/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* LOGIN */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fc;
  padding: 20px;
}

.login-logo {
  margin-bottom: 20px;
  /* Logonuzu buraya ekleyin veya stil verin */
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.login-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 10px #aa9999;
  width: 100%;
  max-width: 400px;
}
.login-form .form-group {
  margin-bottom: 20px;
}

.login-form .form-group label {
  display: inline-block;
  margin-bottom: 8px;
  color: #333;
}
.login-form .form-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.login-form .form-checkbox {
  margin-right: 10px;
}
.login-form .remember-me {
  color: #333;
}
.login-form .forgot-password {
  float: right;
  color: #6c63ff;
  text-decoration: none;
}
.login-form .login-button {
  width: 100%;
  padding: 12px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form .alternative-login {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.login-form .alternative-login hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ddd;
  margin: 0 10px;
}

.login-form .social-login {
  display: flex;
  justify-content: space-between;
}

.login-form .google-login,
.login-form .github-login {
  width: 48%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

/* LOGIN */
